.searchbar-form {
    max-width: 60%;
    margin: 10px auto;
    padding: 20px;
}

#searchbar-searchbox {
    transition: all 0.30s ease-in-out;
    font-size: 16px;
    width: 70%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    margin-right: 5px;
}

#searchbar-searchbox:focus {
    font-size: 14px;
    box-shadow: 0 0 1px #4cd137;
    padding: 3.2%;
}

.searchbar-submit {
    width: 22%;
    font-size: 22px;
    padding: 3.8%;
    background: #4cd137;
    border-bottom: 2px solid #44bd32;
    color: #fff;
}

.searchbar-submit:hover {
    background: #44bd32;
    color: #fff;
}

.searchbar-submit:focus {
    background: #44bd32;
    color: #fff;
    outline: 0;
}